<html>
        <center>
           <h1>Download Data in Excel Format</h1>
           <body>
             <div align = "center">
             <a href="/excelDownload/downloadCSV">
               <input type="button" value="Download CSV" />
             </a>

              <p></p>
              
             <a href="/excelDownload/downloadXLS">
               <input type="button" value="Download Excel" />
             </a>
           </div>
           </body>
       </center>
 </html>
